{{ if .Site.Params.blog.enable }}
<!-- begin blog -->
<section class="section blog animate">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="contaniner__inner">

          <div class="section__info">
            <div class="section__head">
              <h2 class="section__title">{{ .Site.Params.blog.blog__title | safeHTML }}</h2>
            </div>
            {{ if .Site.Params.blog.blog__description }}
              <p class="section__description">{{ .Site.Params.blog.blog__description }}</p>
            {{ end }}
          </div>

          <!-- Original MailChimp form code

          <div>
            {{ if .Site.Params.mailchimp.enable }}
            <div class="hero__subscribe" style="margin-left: auto; margin-right: auto; padding-bottom: 50px;" >
              <form class="subscribe-form validate"
                action="{{ if .Site.Params.mailchimp.mailchimp__identifier }}//{{.Site.Params.mailchimp.mailchimp__identifier}}{{ else }}#{{ end }}" method="POST"
                id="membedded-subscribe-form" name="membedded-subscribe-form" target="_blank" novalidate>
                <label class="screen-reader-text" for="mce-EMAIL">Email address</label>
                <input class="subscribe-email required email" id="mce-EMAIL" type="text" name="EMAIL"
                  placeholder="{{ if .Site.Params.mailchimp.mailchimp__input__text }}{{ .Site.Params.mailchimp.mailchimp__input__text }}{{ else }}Email address{{ end }}">
                <button class="button button--primary button--small subscribe-button" id="membedded-subscribe" type="submit" name="subscribe">{{ .Site.Params.mailchimp.mailchimp__button__text }}</button>
            </div>
            {{ end }}
          </div>

          -->

          <div class="row">
            {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts" | first 3 ) }}
            {{ range $paginator.Pages }}
              {{ partial "article.html" . }}
            {{ end }}
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="section__navigation">
    <a href="/posts" class="button button--primary section-button">Read More</a>
  </div>
</section>
<!-- end blog -->
{{ end }}